# Local MongoDB connection (Requires Replica Set for Prisma)
# DATABASE_URL="mongodb://localhost:27017/brahmani_provision?replicaSet=rs0"

# Production / Atlas MongoDB connection
DATABASE_URL="mongodb+srv://user:password@cluster.mongodb.net/mydb?retryWrites=true&w=majority"
SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"
JWT_SECRET="your-super-secret-jwt-key"
